/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  /* Contenedor de contacto */
  .contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap; /* Para que el contenido se ajuste en pantallas más pequeñas */
  }
  
  .contact-form {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-right: 20px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .contact-form button:hover {
    background-color: black;
  }
  
  /* Estilos para el mapa */
  .map-container {
    flex: 1;
    margin-left: 20px;
  }
  
  .map-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el pie de página */
  footer {
    text-align: center;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  